<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="menu_gestion_root" name="Gestión Reservas" sequence="10"/>

    <menuitem id="menu_operations" name="Operaciones" parent="menu_gestion_root" sequence="10"/>

    <menuitem id="menu_config" name="Configuración" parent="menu_gestion_root" sequence="20"/>

    <menuitem id="menu_booking" name="Reservas" parent="menu_operations" action="action_booking" sequence="10"/>
    
    <menuitem id="menu_service" name="Servicios" parent="menu_config" action="action_service" sequence="10"/>
</odoo>